<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习结果</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=11" id="mixia_vpid">
    <style>
        body {
            display: flex;
            align-content: center;
            align-items: center;
            justify-items: center;
            justify-content: center;
        }

        .content {
            text-align: center;
            max-width: 400px;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="content">
    <h1>{{study_result}}</h1>
    <p>{{msg}}</p>
    <p>返回信息</p>
    <code>{{data}}</code>
</div>
</body>
</html>